* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgba(234, 234, 234, 0.362);
}
.search-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 1%;
  height: fit-content;
}
#search {
  height: 40px;
  width: 10%;
  min-width: 200px;
  font-size: 1rem;
  border-radius: 5px;
  border-color: transparent;
  box-shadow: 4px 4px 4px 2px rgba(0, 0, 0, 0.2);
}
#card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}
.country-card {
  display: flex;
  flex-direction: column;
  width: 320px;
  background-color: rgba(255, 255, 255, 0.362);
  border-radius: 10px;
  box-shadow: 4px 4px 4px 2px rgba(0, 0, 0, 0.2);
}
.flag {
  width: 320px;
  border-radius: 5px;
}
.info-container {
  margin-left: 5%;
  margin-bottom: 20%;
}
.description {
  font-weight: 900;
}
span {
  font-weight: 400;
}
.country-name {
  font-size: 1.5rem;
  font-weight: 900;
  margin-top: 10px;
  margin-bottom: 10px;
}
.hide {
  display: none;
}
.region-dropdown {
  width: 10%;
  min-width: 200px;
  position: relative;
  background-color: rgba(255, 255, 255, 0.362);
  border-radius: 0.5rem;
  padding: 5px;
  box-shadow: 4px 4px 4px 2px rgba(0, 0, 0, 0.2);
}
#dropdown-button {
  display: flex;
  justify-content: space-between;
  cursor: default;
}
.dropdown-header {
  font-size: 1.25rem;
}
.arrow {
  transform: rotate(180deg);
  font-size: 1.25rem;
  line-height: 30px;
  cursor: default;
}
.regions {
  position: absolute;
  left: 0;
  top: calc(100% + 0.25rem);
  background-color: rgba(255, 255, 255, 1);
  width: 100%;
  border-radius: 10px;
  box-shadow: 4px 4px 4px 2px rgba(0, 0, 0, 0.2);
}
.region-filter {
  font-size: 1.25rem;
  padding: 5px;
}
.region-filter:hover {
  background-color: rgba(127, 127, 127, 0.513);
  cursor: default;
}
